body{
	font-size: 14px;
	font-family: "Microsoft Yahei",sans-serif;
	color: #333;
}
a,a:hover{
	text-decoration: none;
	color: #333;
}
@font-face{
	font-family: "wjs";
	src:
		url("../fonts/MiFie-Web-Font.eot") format("embedded-opentype"),
		url("../fonts/MiFie-Web-Font.svg") format("svg"),
		url("../fonts/MiFie-Web-Font.ttf") format("truetype"),
		url("../fonts/MiFie-Web-Font.woff") format("woff");
}
.wjs_icon{
	font-family: "wjs";
}
.wjs_icon_phone:before{
	content: "\e908";
}
.wjs_icon_tel:before{
	content: "\e909";
}
.wjs_icon_logo:before{
	content: "\e920";
}
.wjs_icon_tm:before{
	content: "\e93e";
}
/*-----------------------------顶部---------------------------------*/
.wjs_topBar{
	border-bottom: 1px solid #ccc;
}
.wjs_topBar > .container{
	line-height: 40px;
	text-align: center;
	font-size: 12px;
}
.wjs_topBar > .container > .row > div{
	height: 40px;
}
.wjs_topBar > .container > .row > div+div{
	border-left: 1px solid #ccc;
}
.wjs_topBar > .container > .row > .wjs_app > img{
	display: none;
}
.wjs_topBar > .container > .row > .wjs_app > a:hover+img{
	display: block;
	margin: 0 auto;
}
.wjs_topBar > .container > .row > .wjs_account > .wjs_register{
	padding: 3px 12px;
	background: #e92322;
	font-size: 12px;
	color: #fff;
}
.wjs_color666{
	color: #666;
	font-size: 12px;
}
/*------------------------------------导航条-----------------------------------------*/
.wjs_nav {
  background-color: #fff;
  border-color: #e7e7e7;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 0;
}
.wjs_nav .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-brand > .wjs_icon_logo{
	font-size: 50px;
	color: #e92322;
	vertical-align: middle;
}
.wjs_nav .navbar-brand > .wjs_icon_tm{
	font-size: 36px;
	color: #333;
	vertical-align: middle;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjs_nav .navbar-text {
  color: #777;
}
.wjs_nav .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
  border-bottom: 3px solid #e92322;
  background-color: transparent;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
  color: #555;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.wjs_nav .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
  background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
  background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
  border-color: #e7e7e7;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
  .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
  .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.wjs_nav .navbar-link {
  color: #777;
}
.wjs_nav .navbar-link:hover {
  color: #333;
}
.wjs_nav .btn-link {
  color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
  color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
  color: #ccc;
}
/*------------------------------轮播图-----------------------------------------*/
.wjs_banner .carousel-inner > .item > .pc_version{
  display: block;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wjs_banner .carousel-inner > .item > .m_version{
  display: block;
  width: 100%;
}
.wjs_banner .carousel-inner > .item > .m_version > img{
  width: 100%;
}
/*----------------------------------------------------------------------*/
.wjs_info .media {
  margin-top: 15px;
}
.wjs_info .media:first-child {
  
}
.wjs_info .media,
.wjs_info .media-body {
  overflow: hidden;
  zoom: 1;
}
.wjs_info .media-body {
  width: 10000px;
}
.wjs_info .media-object {
  display: block;
}
.wjs_info .media-object.img-thumbnail {
  max-width: none;
}
.wjs_info .media-right,
.wjs_info .media > .pull-right {
  padding-left: 10px;
}
.wjs_info .media-left,
.wjs_info .media > .pull-left {
  padding-right: 10px;
}
.wjs_info .media-left,
.wjs_info .media-right,
.wjs_info .media-body {
  display: table-cell;
  vertical-align: top;
}
.wjs_info .media-middle {
  vertical-align: middle;
}
.wjs_info .media-bottom {
  vertical-align: bottom;
}
.wjs_info .media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.wjs_info .media-list {
  padding-left: 0;
  list-style: none;
}