/*a的子元素继承“color:#333;”*/
body{
	font-size: 14px;
	font-family: "Microsoft Yahei",sans-serif;
	color: #333;
}
a,a:hover{
	text-decoration: none;
	color: #333;
}
@font-face{
	font-family: "wjs";
	src:
		url("../fonts/MiFie-Web-Font.eot") format("embedded-opentype"),
		url("../fonts/MiFie-Web-Font.svg") format("svg"),
		url("../fonts/MiFie-Web-Font.ttf") format("truetype"),
		url("../fonts/MiFie-Web-Font.woff") format("woff");
}
.wjs_icon{
	font-family: "wjs";
}
.wjs_icon_phone::before{
	content: "\e908";
}
.wjs_icon_tel::before{
	content: "\e909";
}
.wjs_icon_logo::before{
	content: "\e920";
}
.wjs_icon_tm::before{
	content: "\e93e";
}
.wjs_icon_dollar::before{
  content: "\e903";
}
.wjs_icon_clock::before{
  content: "\e906";
}
.wjs_icon_camera::before{
  content: "\e905";
}
/*.wjs_icon_tiyan::before{
  content: "\e915"
}*/
.wjs_icon_news01::before{
  content: "\e90e";
}
.wjs_icon_news02::before{
  content: "\e90f";
}
.wjs_icon_news03::before{
  content: "\e910";
}
.wjs_icon_news04::before{
  content: "\e911";
}
.wjs_icon_partner01::before{
	content: "\e946";
}
.wjs_icon_partner02::before{
	content: "\e92f";
}
.wjs_icon_partner03::before{
	content: "\e92e";
}
.wjs_icon_partner04::before{
	content: "\e92a";
}
.wjs_icon_partner05::before{
	content: "\e929";
}
.wjs_icon_partner06::before{
	content: "\e931";
}
.wjs_icon_partner07::before{
	content: "\e92c";
}
.wjs_icon_partner08::before{
	content: "\e92b";
}
.wjs_icon_partner09::before{
	content: "\e92d";
}
/*-----------------------------顶部---------------------------------*/
.wjs_topBar{
	border-bottom: 1px solid #ccc;
}
.wjs_topBar > .container{
	line-height: 40px;
	text-align: center;
	font-size: 12px;
}
.wjs_topBar > .container > .row > div{
	height: 40px;
}
.wjs_topBar > .container > .row > div+div{
	border-left: 1px solid #ccc;
}
.wjs_topBar > .container > .row > .wjs_app > img{
	display: none;
}
.wjs_topBar > .container > .row > .wjs_app > a:hover+img{
	display: block;
	margin: 0 auto;
}
.wjs_topBar > .container > .row > .wjs_account > .wjs_register{
	padding: 3px 12px;
	background: #e92322;
	font-size: 12px;
	color: #fff;
}
.wjs_color666{
	color: #666;
	font-size: 12px;
}
/*------------------------------------导航条-----------------------------------------*/
.wjs_nav {
  background-color: #fff;
  border-color: #e7e7e7;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 0;
}
.wjs_nav .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-brand > .wjs_icon_logo{
	font-size: 50px;
	color: #e92322;
	vertical-align: middle;
}
.wjs_nav .navbar-brand > .wjs_icon_tm{
	font-size: 36px;
	color: #333;
	vertical-align: middle;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjs_nav .navbar-text {
  color: #777;
}
.wjs_nav .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
  border-bottom: 3px solid #e92322;
  background-color: transparent;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
  color: #555;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.wjs_nav .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
  background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
  background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
  border-color: #e7e7e7;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
  .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
  .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.wjs_nav .navbar-link {
  color: #777;
}
.wjs_nav .navbar-link:hover {
  color: #333;
}
.wjs_nav .btn-link {
  color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
  color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
  color: #ccc;
}
/*------------------------------轮播图-----------------------------------------*/
.wjs_banner .carousel-inner > .item > .pc_version{
  display: block;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wjs_banner .carousel-inner > .item > .m_version{
  display: block;
  width: 100%;
}
.wjs_banner .carousel-inner > .item > .m_version > img{
  width: 100%;
}
/*-------------------------------wjs_info--------------------------------------*/
.wjs_info{
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_info > .container{
  width: 900px;
}
@media (max-width: 992px){
  .wjs_info > .container{
    width: 750px;
  }
}
.wjs_info > .container a{
  display: block;
  padding: 15px 0;
}
.wjs_info > .container a:hover{
  color: #e92322
}
.wjs_info .media .media-left{
  font-size: 28px;
}
/*---------------------------------预约模块--------------------------------------*/
.wjs_book{
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_book > .container{
  width: 900px;
}
@media (max-width: 992px){
  .wjs_book > .container{
    width: 750px;
  }
}
@media (max-width: 768px){
  .wjs_book > .container{
    width: 100%;
  }
}
.wjs_book > .container > div .wjs_icon{
  font-size: 20px;
}
.wjs_book > .container > .pull-left > a{
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_book > .container > .pull-right > a:hover{
  color: #e92322;
}
/*--------------------------------wjs_product-----------------------------------*/
.wjs_product{
  padding: 20px 0;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}
.wjs_product .nav-tabs {
	width: 800px;
  border-bottom: 1px solid #ddd;
}
.wjs_product .nav-tabs > li {
  float: left;
  margin-bottom: 0;
  margin-left: 15px;
}
.wjs_product .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 4px 4px 0 0;
}
.wjs_product .nav-tabs > li > a:hover {
  border-color: none;
  background: #f5f5f5;
}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #f5f5f5;
  border: none;
  border-bottom-color: transparent;
  border-bottom: 3px solid #e92322;
}
.wjs_product > .container > .nav_wrap{
	width: 100%;
	overflow: hidden;
}
/*------------------------------------------*/
.wjs_product .tab-content > #product01 > .container > div{
  height: 150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}
.wjs_product .tab-content > #product01 > .container > div > a{
  display: block;
  height: 100%;
  box-shadow: 3px 3px 5px #d8d8d8;   /*阴影默认四周都有5px，“3px 3px”代表向右偏移3px，向下偏移3px，这样四周阴影分别为2px 8px 8px 2px*/
  color: #666;   /*券字体颜色继承*/
}
.wjs_product .tab-content > #product01 > .container > div > a.active{
  position: relative;
  background: #e92322;
  color: #fff;
}
.wjs_product .tab-content > #product01 > .container > div > a.active::before{
  position: absolute;
  left: 0;
  top: -7px;
  content: "\e915";
  font-family: "wjs";
  font-size: 33px;
}
.wjs_product .ticket_right{
  position: relative;
  float: right;
  width: 80px;
  height: 100%;
  border-left: 1px dashed #ccc;
  text-align: center;
}
.wjs_product a.active > .ticket_right{
  position: relative;
  border-left-color: #fff; 
}
.wjs_product .ticket_right > p:first-of-type{
  margin: 25px 0 10px;
  color: #e92322;
}
.wjs_product a.active .ticket_right > p:first-of-type{
  color: #fff;
}
.wjs_product .ticket_right > p:first-of-type > span{
  font-size: 48px;
  font-weight: bold;
}
.wjs_product .ticket_right > p:first-of-type > sub{
  bottom: 0;
}
.wjs_product .ticket_right > p:last-of-type{
  /*p元素默认margin-bottom: 10px;*/
}
.wjs_product .ticket_right::before,.wjs_product .ticket_right::after{
  content: "";
  position: absolute;
  left: -6px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f5f5f5;
}
.wjs_product .ticket_right::before{
  top: -6px;
  box-shadow: 0 -1px 1px #d8d8d8 inset;
}
.wjs_product .ticket_right::after{
  bottom: -6px;
  box-shadow: 0 4px 4px #d8d8d8 inset;
}
.wjs_product .ticket_left{
  overflow: hidden;
  height: 100%;
}
.wjs_product .ticket_left > h3{
  font-size: 16px;
  margin-top: 10px;
}
.wjs_product .ticket_left > div{
  font-size: 12px;
}
.stamp{
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
}
.stamp > span{
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-width: 1px;
  border-style: solid;
}
.stamp > .wei{
  color: red;
  border-color: red;
}
.stamp > .yu{
  color: green;
  border-color: green;
}
/*--------------------------------------wjs_news---------------------------------*/
.wjs_news{
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_news h3{
  position: relative;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.wjs_news h3::after{
  position: absolute;
  right: -6px;
  bottom: -3px;
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
/*-----------------------------------*/
.wjs_news .wjs_news_line{
	position: absolute;
	width: 1px;
	height: 100%;
	border-left: 1px dashed #ccc;
	left: 45px;
	top: 0;
}
.wjs_news .nav-tabs {
  border-bottom: none;
}
.wjs_news .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.wjs_news .nav-tabs > li > a {
  width: 60px;
  height: 60px;
  margin-bottom: 60px;
  margin-right: 2px;
  line-height: 40px;
  border: none;
  border-radius: 50%;
  font-size: 30px;   /*span元素30px*30px，内容区30px*40px*/
  color: #fff;
  background: #ccc;
}
.wjs_news .nav-tabs > li:last-child > a{
	margin-bottom: 0;
}
.wjs_news .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active > a:hover,
.wjs_news .nav-tabs > li.active > a:focus {
  cursor: default;
  background-color: #e92322;
  border: none;
  color: #fff;
}
.wjs_news .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_news .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_news .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_news .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_news .nav-tabs.nav-justified > .active > a,
.wjs_news .nav-tabs.nav-justified > .active > a:hover,
.wjs_news .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_news .nav-tabs.nav-justified > .active > a,
  .wjs_news .nav-tabs.nav-justified > .active > a:hover,
  .wjs_news .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 992px){
	.wjs_news .nav-tabs > li > a{
		margin: 30px 50px;
	}
}
@media (max-width: 768px){
	.wjs_news .nav-tabs > li{
		width: 25%;
	}
	.wjs_news .nav-tabs > li > a{
		margin: 30px auto;
	}
}
.wjs_news .tab-content > #news01 > ul{
	list-style: none;
}
.wjs_news .tab-content > #news01 > ul > li{}
.wjs_news .tab-content > #news01 > ul > li > a{
	display: block;
    padding: 15px 0;
	color: #666;
}
/*---------------------------------------footer-------------------------------------*/
.wjs_partner{
	padding: 50px 0;   /*加padding更好，可以设置背景*/
}
.wjs_partner ul{
	list-style: none;
	text-align: center;
	padding: 0;
}
.wjs_partner ul > li{
	display: inline-block;
}
.wjs_partner ul > li > a{
	display: block;
	font-size: 70px;
    padding: 0 15px;
}