*{
	padding: 0;
	margin: 0;
}
/*----------------------------common-------------------------------------*/
.fl{
	float: left;
}
.fr{
	float: right;
}
/*-----------------------------------------------------------------*/
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	position: absolute;
	width: 100%;
	height: 150px;
	background: url(../images/nav_bg.png) repeat-x;
}
header > .center{
	position: relative;
	width: 1080px;
	height: 75px;
	margin: 0 auto;
	background: rgba(250,200,200,.3);
}
header > .center > .left_header > .logo{
	margin-top: 15px;
}
header > .center > .left_header > .logo > img{
	display: block;
}
header > .center > .left_header > .nav > li{
	width: 77px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	margin-left: 20px;
}
header > .center > .left_header > .nav > li:hover{
	background: #12b7f5;
}
header > .center > .left_header > .nav > li.active{
	background: #12b7f5;
}
header > .center > .right_header{
	
}
header > .center > .right_header > .register{
	position: absolute;
	top: 20px;
	right: 250px;
	width: 96px;
	height: 36px;
	border-radius: 18px;
	background: #12b7f5;
	color: #fff;
	line-height: 36px;
	text-align: center;
}
header > .center > .right_header > .account{

}
header > .center > .right_header > .account > li{
	margin-left: 40px;
}
header > .center > .right_header > .statistics{
	
}
/*-------------------------------banner---------------------------------------------*/
section > .banner{
	height: 880px;
	padding-top: 150px;
	background: url(../images/banner-bg.jpg) no-repeat;
}
section > .banner img{
	display: block;
	margin: 20px auto;
}
section > .banner > a{
	display: block;
}
section > .banner > img:last-child{
	width: 100%;
}
/*-------------------------------sound--------------------------------------------*/
.cont{
	position: relative;
	width: 980px;
	height: 500px;
	margin: 0 auto;
}
[class*="_bg"]{
	height: 500px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
section > .sound > h1{
	height: 300px;
}
section > .sound > h1 > img{
	display: block;
	height: 100%;
	margin: 0 auto;
}
section > .sound > .sound_bg{
	background-image: url(../images/sound-bg.jpg);
}
section > .sound > .sound_content > .hand{
	position: absolute;
	left: 0;
	top: -200px;
	width: 700px;
	height: 700px;
	background: url(../images/sound-phone.png) no-repeat center top/cover;
}
/*----------------------*/
section .words{
    margin-top: 100px;
    width: 500px;
    text-align: right;
}
section .words.fl{
	text-align: left;
}
section .words > h2{
	font-size: 40px;
}
section .words > p{
	margin-top: 50px;
    font-size: 18px;
    text-shadow: 0 0 2px #333;
}
/*----------------------*/
section > .file > .file_bg{
	background-image: url(../images/file-bg.jpg);
}
section > .file > .file_content > .mac{
	position: absolute;
    right: -60px;
    top: 100px;
	width: 600px;
    height: 340px;
    background: url(../images/file-mac.png) no-repeat center/cover;
}
section > .interest > .interest_bg{
	background-image: url(../images/interest-bg.jpg);
}
section > .interest > .interest_content > .phone{
	position: absolute;
    left: 0;
    top: 0;
	width: 350px;
    height: 500px;
    background: url(../images/interest-phone.png) no-repeat center top/cover;
}
/*----------------------------------footer-----------------------------------------------------*/
footer{
	height: 300px;
	background: #2a2a2a;
}