.go{
	position: fixed;
	top: 30px;
	right: 30px;
	border-radius: 50%;
	z-index: 1001;
}
.more{
	position: fixed;
	right: 40px;
	bottom: 80px;
	z-index: 1001;
}
#container > #fullpage > .screen01{
	background: url(../images/01-bg.png) no-repeat center bottom;
}
#container > #fullpage .content{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -450px;
	width: 900px;
	height: 600px;
	background: rgba(0,0,0,.1);
}
#container > #fullpage > .screen01 > .content > .goods{
	text-align: center;
	margin-top: 230px;
}
#container > #fullpage > .screen01 > .content > .fly{
	position: absolute;
	top: 20px;
	right: -50px;
	animation: ani_fly .8s linear infinite alternate;
}
#container > #fullpage > .screen01 > .content > .sofa{
	position: absolute;
	top: 150px;
	left: 230px;
	animation: ani_fly .6s linear infinite alternate;
}
@keyframes ani_fly{
	from{transform: translateY(-10px);}
	to{transform: translateY(10px);}
}
/*-----------------------------------------------------------------------------------------------*/
#container > #fullpage > .screen02{
	background: url(../images/02-bg.png) no-repeat center bottom;
}
#container > #fullpage > .screen02 > .content > .text{
	text-align: center;
}
#container > #fullpage > .screen02 > .content > .text > .text02{
	position: absolute;
	opacity: 0;
}
#container > #fullpage > .screen02 > .content > .input{
	position: absolute;
	top: 120px;
	right: 171px;
	transform: scale(.7);
	transform-origin: right top;
}
#container > #fullpage > .screen02 > .content > .input > .key{
	position: absolute;
    left: 100px;
    top: 4px;
}
#container > #fullpage > .screen02 > .content > .goods{
	position: absolute;
    left: 50%;
    margin-left: -220px;
    bottom: 210px;
}
#container > #fullpage > .screen02 > .content > .sofa{
	transform: scale(0.5);
    position: absolute;
    left: 292px;
    top: 132px;
}