/*下面的屏比上面的屏层级高*/
/*显示隐藏不需要用transition的用display:none;*/
/*div绝对定位，一张图片隐藏一张图片显示，切换的时候那张隐藏的图片要position:static;*/
/*父元素宽度100%、text-align:center;里面的行内元素相对于父元素的父元素居中（前提子元素不脱离文档流，父元素、子元素都脱离文档流的情况下，相当于left:50%;）*/
/*上面的兄弟元素absolute，下面的兄弟元素会顶上来；上面的兄弟元素static，下面的兄弟元素absolute，不指定left、top的情况下不会顶上来*/
/*对同一元素使用多次transform，会覆盖*/
/*translate元素移走后还会在文档流中占有原来的位置*/
.go{
	position: fixed;
	top: 30px;
	right: 30px;
	border-radius: 50%;
	z-index: 1001;
}
.more{
	position: fixed;
	right: 40px;
	bottom: 80px;
	z-index: 1001;
}
#container > #fullpage > .screen01{
	background: url(../images/01-bg.png) no-repeat center bottom;
}
#container > #fullpage .content{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -450px;
	width: 900px;
	height: 600px;
	background: rgba(0,0,0,.1);
}
#container > #fullpage > .screen01 > .content > .goods{
	text-align: center;
	margin-top: 230px;
}
#container > #fullpage > .screen01 > .content > .fly{
	position: absolute;
	top: 20px;
	right: -50px;
	animation: ani_fly .8s linear infinite alternate;
}
#container > #fullpage > .screen01 > .content > .sofa{
	position: absolute;
	top: 150px;
	left: 230px;
	animation: ani_fly .6s linear infinite alternate;
}
@keyframes ani_fly{
	from{transform: translateY(-10px);}
	to{transform: translateY(10px);}
}
/*----------------------------------------------------screen02---------------------------------------------------------*/
#container > #fullpage > .screen02{
	background: url(../images/02-bg.png) no-repeat center bottom;
}
#container > #fullpage > .screen02 > .content > .text{
	text-align: center;
}
#container > #fullpage > .screen02 > .content > .text > .text02{
	position: absolute;
	opacity: 0;
}
#container > #fullpage > .screen02 > .content > .input{
	position: absolute;
	top: 120px;
	right: 171px;
	transform-origin: right top;
	opacity: 0;
}
#container > #fullpage > .screen02 > .content > .input > .key{
	position: absolute;
    left: 100px;
    top: 4px;
    opacity: 0;
}
#container > #fullpage > .screen02 > .content > .goods{
	position: absolute;
    left: 50%;
    margin-left: -220px;
    bottom: 210px;
    transform: scale(0);
    transform-origin: right bottom;
}
#container > #fullpage > .screen02 > .content > .goods > .sofa{
	transform: scale(0.5);
    position: absolute;
    left: 62px;
    top: -35px;
}
#container > #fullpage > .screen02.now > .content > .text > .text02{
	position: static;
	opacity: 1;
}
#container > #fullpage > .screen02.now > .content > .text > .text01{
	display: none;
}
#container > #fullpage > .screen02.now > .content > .input{
	animation: ani_input 3s forwards;
}
#container > #fullpage > .screen02.now > .content > .input > .key{
	opacity: 1;
	transition: opacity 1s linear 1s;
}
@keyframes ani_input{
	from{
		opacity: 1;
		transform: translate(2000px,135px);
	}
	33%{
		opacity: 1;
		transform: translate(-150px,135px);
	}
	67%{
		opacity: 1;
		transform: translate(-150px,135px);
	}
	to{
		opacity: 1;
		transform: scale(.7);
	}
}
#container > #fullpage > .screen02.now > .content > .goods{
	transform: none;
	transition: transform 1s linear 2s;
}
#container > #fullpage > .screen02 > .content > .goods > .sofa.leaving02{
	z-index: 1001;
	transform: translate(-81px,800px); /* 覆盖scale(.5) */
	transition: transform 1s;
}
/*--------------------------------------------------screen03-----------------------------------------------------*/
#container > #fullpage > .screen03{
	background: url(../images/03-bg.png) no-repeat center bottom;
}
#container > #fullpage > .screen03 > .content > .sofa{
	position: absolute;
	top: 191px;
	left: 211px;
	opacity: 0;
	z-index: 1001;
}
#container > #fullpage > .screen03 > .content > .choices{
	position: absolute;
	left: 489px;
	top: 304px;
}
#container > #fullpage > .screen03 > .content > .choices > img:last-child{
 	display: none;
}
#container > #fullpage > .screen03 > .content > .cart{
	position: absolute;
	left: 489px;
	top: 440px;
}
/*----------------------display:none;显示隐藏-----------------------*/
#container > #fullpage > .screen03 > .content > .cart > img:last-child{
 	display: none;
}
#container > #fullpage > .screen03.now > .content > .choices > img:first-child{
 	display: none;
}
#container > #fullpage > .screen03.now > .content > .choices > img:last-child{
 	display: inline-block;
}
#container > #fullpage > .screen03.now > .content > .cart > img:first-child{
 	display: none;
}
#container > #fullpage > .screen03.now > .content > .cart > img:last-child{
 	display: inline-block;
}
/*----------------------------显示隐藏------------------------------*/
#container > #fullpage > .screen03 > .content > .sofa.leaving03{
	transform: translate(160px,722px) rotate(16deg);
	transition: transform 1s;
}

/*------------------------------------------------screen04---------------------------------------------------------------*/
#container > #fullpage > .screen04{
	background: url(../images/04-bg.png) no-repeat center bottom;
}
#container > #fullpage > .screen04 > .content > .clouds{
 	position: absolute;
 	top: -50px;
 	animation: ani_clouds 40s linear infinite alternate;
}
@keyframes ani_clouds{
	from{
		transform: translateX(-500px);
	}
	to{
		transform: translateX(500px);
	}
}
/*-----------------opacity:0;显示隐藏---------------------*/
#container > #fullpage > .screen04 > .content > .text{
	text-align: center;
	margin-top: 100px;
}
#container > #fullpage > .screen04 > .content > .text > img:first-child{
 	position: absolute;
}
/*------------------------显示隐藏------------------------*/
#container > #fullpage > .screen04 > .content > .realcart{
	position: absolute;
	left: 50%;
	margin-left: -204px;
	margin-top: 68px;
	z-index: 1002;
}
#container > #fullpage > .screen04 > .content > .sofa{
	position: absolute;
	left: 370px;
	top: 170px;
	opacity: 0;
}
#container > #fullpage > .screen04 > .content > .address{
	position: relative;
	text-align: center;
	margin-top: 30px;
	opacity: 0;
}
#container > #fullpage > .screen04 > .content > .address > img:first-child{
 	position: absolute;
 	left: 370px;
 	top: 60px;
 	opacity: 0;
}
#container > #fullpage > .screen04.now > .content > .realcart{
	transform: translateX(1000px);
	transition: transform 2s linear;
}
#container > #fullpage > .screen04.now > .content > .sofa{
	opacity: 1;
	transform: translateX(1000px);
	transition: transform 2s linear;
}
#container > #fullpage > .screen04.now > .content.show > .text > img:first-child{
	opacity: 0;
	transition: 1s;
}
#container > #fullpage > .screen04.now > .content.show > .address{
	opacity: 1;
	transition: 1s;
}
#container > #fullpage > .screen04.now > .content.show > .address > img:first-child{
	opacity: 1;
	transition: 1s;
}
/*--------------------------------------screen05-----------------------------------------------------------------------*/
#container > #fullpage > .screen05{
	background: url(../images/05-bg.png) no-repeat center bottom;
}
#container > #fullpage > .screen05 > .content > .sofa{
	position: absolute;
	left: 95px;
	top: 180px;
	opacity: 0;
	transform: translateY(-600px);
	z-index: 1001;
}
#container > #fullpage > .screen05 > .content > .card{
	position: absolute;
	width: 358px;
	height: 221px;
	bottom: 200px;
}
#container > #fullpage > .screen05 > .content > .card > img:first-child{
	position: absolute;
	z-index: 1002;
}
#container > #fullpage > .screen05 > .content > .card > img:nth-child(2){
	position: absolute;
	left: 130px;
	top: 0;
}
#container > #fullpage > .screen05 > .content > .mouse{
	position: absolute;
	right: 0;
	bottom: 225px;
	/*height: */
}
#container > #fullpage > .screen05 > .content > .mouse > img:first-child{
	position: absolute;
}
#container > #fullpage > .screen05 > .content > .hand{
	position: absolute;
	right: 55px;
	bottom: -5px;
	transform: translateY(500px);
}
#container > #fullpage > .screen05.now > .content > .hand{
	transform: none;
	transition: transform 1s linear;
}
#container > #fullpage > .screen05.now > .content > .mouse.show > img:first-child{
	opacity: 0;
}
#container > #fullpage > .screen05.now > .content > .sofa{
	animation: ani_sofa05 2s linear 1s forwards;
}
@keyframes ani_sofa05{
	from{
		opacity: 1;
	}
	50%{
		opacity: 1;
		transform: none;
	}
	to{
		opacity: 1;
		transform: translateY(165px);
	}
}
#container > #fullpage > .screen05.now > .content > .card > img:nth-child(2){
	transform: translateY(-62%);
	transition: transform 1s linear 2s;
}
/*----------------------------------------screen06---完美------------------------------------------------------------------*/
/*占位用relative或margin，不占位用absolute定位*/
/*包裹容器会因内部子元素有换行而产生误差*/
#container > #fullpage > .screen06{
	background: url(../images/06-bg.png) no-repeat 25% bottom;
}
#container > #fullpage > .screen06.start{
	background: url(../images/06-bg.png) no-repeat 100% bottom;
	transition: background 1s linear;
}
#container > #fullpage > .screen06 > .content > .clouds01,
#container > #fullpage > .screen06 > .content > .clouds02{
	position: absolute;
	left: 0;
	top: -50;
}
#container > #fullpage > .screen06 > .content > .clouds01{
	animation: ani_clouds 45s linear infinite alternate;
}
#container > #fullpage > .screen06 > .content > .clouds02{
	animation: ani_clouds 35s linear infinite alternate;
}
#container > #fullpage > .screen06 > .content > .text{
	margin-top: 80px;
	margin-left: 140px;
}
#container > #fullpage > .screen06 > .content > .text > img:first-child{
	position: absolute;
}
#container > #fullpage > .screen06 > .content > .box{
	position: absolute;
	left: 140px;
	top: 180px;
	opacity: 0;
	z-index: 1002;
}
/*#container > #fullpage > .screen05 > .content > .card.show.leaving05 > img:last-child{
	transform: translateY(530px) scale(.2);
	transition: transform 1s linear;
}*/
#container > #fullpage > .screen05 > .content > .sofa.leaving05{
	animation: ani_sofa06 1s linear;
}
@keyframes ani_sofa06{
	from{
		opacity: 1;
		transform: translateY(165px);
	}
	to{
		opacity: 1;
		transform: translateY(700px) scale(.2);
	}
}
#container > #fullpage > .screen06 > .content > .box.leaving05{
	animation: ani_box 2s linear;
}
@keyframes ani_box{
	from{
		opacity: 1;
		transform: translateX(-500px);
	}
	50%{
		transform: translateX(0);
	}
	to{
		opacity: 1;
		transform: translateY(270px) scale(.2);
	}
}
#container > #fullpage > .screen06 > .content > .car{
	position: absolute;
	left: 100px;
	bottom: 0;
	width: 221px;
	height: 122px;
	z-index: 1003;
}
#container > #fullpage > .screen06 > .content > .car > img{
	position: absolute;
}
#container > #fullpage > .screen06 > .content > .car > .carImg{
	position: relative;
}
#container > #fullpage > .screen06 > .content > .car > .buyer,
#container > #fullpage > .screen06 > .content > .car > .address{
	left: 168px;
	top: -45px;
	opacity: 0;
}
#container > #fullpage > .screen06 > .content > .car > .worker{
	position: absolute;
	left: 0;
	bottom: 0;
	transform: scale(0);
	transform-origin: left bottom;
}
#container > #fullpage > .screen06 > .content > .say{
	position: absolute;
	left: 500px;
	top: 30px;
	opacity: 0;
}
#container > #fullpage > .screen06.start > .content > .car > .buyer{
	opacity: 1;
	transition: opacity .2s .2s;
}
#container > #fullpage > .screen06.start > .content > .car > .address{
	opacity: 1;
	transition: opacity .2s .7s;
}
#container > #fullpage > .screen06.start > .content > .car > .worker{
	animation: ani_worker 1s 1s forwards;
}
@keyframes ani_worker{
	from{
		
	}
	33.3%{
		transform: scale(1);
	}
	66.7%{
		transform: translateY(-118px);
	}
	to{
		transform: translate(260px,-110px) scale(1);
	}
}
#container > #fullpage > .screen06.start > .content > .say{
	opacity: 1;
	transition: opacity .2s 2s;
}
#container > #fullpage > .screen06.start > .content > .text > img:first-child{
	opacity: 0;
	transition: opacity .3s 2s;
}
#container > #fullpage > .screen06 > .content > .destination{
	position: relative;
	left: 840px;
	top: 191px;
	width: 106px;
	height: 150px;
}
#container > #fullpage > .screen06 > .content > .destination > img:first-child{
	opacity: 0;
}
#container > #fullpage > .screen06 > .content > .destination > img:last-child{
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	transform-origin: right bottom;
}
#container > #fullpage > .screen06.start > .content > .destination > img:first-child{
	opacity: 1;
	transition: opacity .2s 2.5s;
}
#container > #fullpage > .screen06.start > .content > .destination > img:last-child{
	animation: ani_woman 1.5s linear 2.7s forwards;
}
@keyframes ani_woman{
	from{
		opacity: 1;
		transform: scale(.5);
	}
	33.3%{
		transform: translateX(-50px) scale(1);
	}
	to{
		opacity: 1;
		transform: translateX(-200px) scale(1)
	}
}
/*-------------------------------------------------screen07-------------------------------------------------------------------------------*/
#container > #fullpage > .screen07{
	background: url(../images/07-bg.png) no-repeat center bottom;
}
#container > #fullpage > .screen07 > .content > .stars{
	position: absolute;
	left: 157px;
	top: 142px;
	font-size: 0;
}
#container > #fullpage > .screen07 > .content > .stars > img{
	margin-right: 6px;
	opacity: 0;
}
#container > #fullpage > .screen07 > .content > .rate{
	/*position: absolute;
	left: 157px;
	top: 142px;*/
	margin-left: 155px;
	margin-top: 180px;
	transform-origin: left bottom;
	transform: scale(0);
}
#container > #fullpage > .screen07.now > .content > .stars > img:first-child{
	opacity: 1;
	transition: opacity .3s;
}
#container > #fullpage > .screen07.now > .content > .stars > img:nth-child(2){
	opacity: 1;
	transition: opacity .3s .3s;
}
#container > #fullpage > .screen07.now > .content > .stars > img:nth-child(3){
	opacity: 1;
	transition: opacity .3s .6s;
}
#container > #fullpage > .screen07.now > .content > .stars > img:nth-child(4){
	opacity: 1;
	transition: opacity .3s .9s;
}
#container > #fullpage > .screen07.now > .content > .stars > img:last-child{
	opacity: 1;
	transition: opacity .3s 1.2s;
}
#container > #fullpage > .screen07.now > .content > .rate{
	animation: ani_rate .6s 1.5s forwards;
}
@keyframes ani_rate{
	from{
		
	}
	90%{
		transform: scale(1.1);
	}
	to{
		transform: none;
	}
}
/*-------------------------------------------------screen07-----------------------------------------------------------------------------------------*/
#container > #fullpage > .screen08{
	background: url(../images/08-bg.png);
}
#container > #fullpage > .screen08 > .shopping{
	margin-top: 100px;
	text-align: center;
}
#container > #fullpage > .screen08 > .shopping > img:first-child{
	position: absolute;
}
#container > #fullpage > .screen08 > .shopping:hover > img:first-child{
	display: none;
}
#container > #fullpage > .screen08 > .again{
	position: absolute;
	right: 330px;
	bottom: 488px;
}
#container > #fullpage > .screen08 > .hand{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}