.jd_container{
	min-width: 320px;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	background: #f5f5f5;
}
/*--------------------------------header---------------------------------------*/
.jd_container > header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	z-index: 1;
}
.jd_container > header > .header_container{
	position: relative;
	min-width: 320px;
	max-width: 640px;
	width: 100%;
	height: 40px;
	margin: 0 auto;
	background: rgba(201,21,35,0);
}
.jd_container > header > .header_container >.icon_logo{
	position: absolute;
	left: 5px;
	top: 7px;
	width: 60px;
	height: 25px;
	/*background: url(../images/sprites.png) 1px -108px no-repeat / 200px 200px;*/
	background-position: 1px -108px;
}
.jd_container > header > .header_container > .search{
	width: 100%;
	height: 40px;
	padding: 0 55px 0 70px;
}
.jd_container > header > .header_container > .search > .icon_search{
	position: absolute;
	left: 75px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-position: -60px -110px;
}
.jd_container > header > .header_container > .search > input{
	width: 100%;
	height: 30px;
	margin-top: 5px;
	border-radius: 15px;
	text-indent: 35px;
}
.jd_container > header > .header_container > .login{
	position: absolute;
	right: 5px;
	top: 0;
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
/*-------------------------------------banner----------------------------------*/
.jd_container > .banner{
	/*margin-top: 40px;*/
	position: relative;
	overflow: hidden;
}
.jd_container > .banner > .pictures{
	position: relative;
	left: -100%;
	top: 0;
	width: 1000%;

}
.jd_container > .banner > .pictures > li{
	float: left;
	width: 10%;
}
.jd_container > .banner > .pictures > li img{
	display: block;
	width: 100%;
}
.jd_container > .banner > .points{
	position: absolute;
	left: 50%;
	bottom: 5px;
	margin-left: -63px;
}
.jd_container > .banner > .points > li{
	float: left;
	width: 7px;
	height: 7px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 10px;
}
.jd_container > .banner > .points > li:last-child{
	margin-right: 0;
}
.jd_container > .banner > .points > li.active{
	background: #fff;
}
/*---------------------------------------nav-------------------------------------------*/
.jd_container > nav{
	width: 100%;
	background: #fff;
}
.jd_container  > nav > .navUl{
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 5px 0 10px;
}
.jd_container > nav > .navUl > li{
	float: left;
	width: 25%;
	text-align: center;
	margin-top: 5px;
}
.jd_container > nav > .navUl > li > a{
	display: inline-block;
}
.jd_container > nav > .navUl > li > a > img{
	width: 40px;
	height: 40px;
}
/*-------------------------------------section01------------------------------------*/
.jd_container > .products{
	padding: 0 5px;
}
.jd_container > .products > section{
	width: 100%;
	margin-top: 10px;
	box-shadow: 0 0 2px #ccc;
	background: #fff;
}
.section_header{
	width: 100%;
	height: 35px;
	line-height: 35px;
}
.bd_bottom{
	border-bottom: 1px solid #ccc;
}
.bd_right{
	border-right: 1px solid #ccc;
}
.jd_container > .products > .section01 > .section_header > .icon_clock{
	float: left;
	width: 16px;
	height: 20px;
	background: url(../images/seckill-icon.png) no-repeat center / 16px 20px;
	margin: 7px 10px;
}
.jd_container > .products > .section01 > .section_header > .text{
	float: left;
	font-size: 16px;
	color: #d8505c;
}
.jd_container > .products > .section01 > .section_header > .time{
	float: left;
	margin-left: 10px;
}
.jd_container > .products > .section01 > .section_header > .time > span{
	float: left;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	background: #333;
	color: #fff;
	margin-top: 9px;
	margin-left: 3px;
}
.jd_container > .products > .section01 > .section_header > .time > span:nth-child(3),
.jd_container > .products > .section01 > .section_header > .time > span:nth-child(6){
	width: auto;
	background: #fff;
	color: #333;
}
.jd_container > .products > .section01 > .section_header > .more{
	float: right;
	margin-right: 10px;
}
.item{
	float: left;
	width: 33.33%;
}
.item > a{
	display: block;
	width: 100%;
}
.item > a > img{
	display: block;
	width: 66.66%;
	margin: 0 auto;
}
.item > p{
	text-align: center;
	font-size: 12px;
	padding: 5px 0;
}
p.valid{
	color: #d8505c;
}
p.invalid{
	color: #666;
    text-decoration: line-through;
}
.pd_bottom{
	padding-bottom: 10px;
}
/*--------------------------------------section02-04----------------------------------------------*/
.h3_style{
	font-weight: normal;
}
.h3_style::before{
	content: "";
	float: left;
	width: 3px;
	height: 12px;
	background: #d8505c;
	margin: 11px;
}
.half{
	width: 50%;
}
.half > img{
	display: block;
	width: 100%;
}
.bd_left{
	border-left: 1px solid #ccc;
}

