<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <title>weijinsuo</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <style>

    </style>
    <!--[if lt IE 9]>
      <script src="lib/html5shiv/html5shiv.min.js"></script>
      <script src="/lib/respond/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="wjs_topBar hidden-xs hidden-sm">
      <div class="container">
        <div class="row">
          <div class="col-md-2 wjs_app">
            <a href="javascript:;">
              <span class="wjs_icon wjs_icon_phone"></span>
              手机微金所
              <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <img src="images/code.jpg">
          </div>
          <div class="col-md-5">
            <span class="wjs_color666">
              <span class="wjs_icon wjs_icon_tel"></span>
              4006-89-4006（服务时间：9:00-21:00）
            </span>
          </div>
          <div class="col-md-2">
            <a href="javascript:;">常见问题</a>
            <a href="javascript:;">财富登录</a>
          </div>
          <div class="col-md-3 wjs_account">
            <a href="javascript:;" class="btn btn-default wjs_register">免费注册</a>
            <a href="javascript:;" class="btn btn-link wjs_color666">登录</a>
          </div>
        </div>
      </div>
    </header>
    <!--导航栏-->
    <nav class="navbar wjs_nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:;">
            <span class="wjs_icon wjs_icon_logo"></span>
            <span class="wjs_icon wjs_icon_tm"></span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="javascript:;">我要投资</a></li>
            <li><a href="javascript:;">我要借贷</a></li>
            <li><a href="javascript:;">平台介绍</a></li>
            <li><a href="javascript:;">新手专区</a></li>
            <li><a href="javascript:;">最新动态</a></li>
            <li><a href="javascript:;">微平台</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-sm">
            <li><a href="javascript:;">个人中心</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--轮播图-->
    <section class="wjs_banner">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <!-- <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li> -->
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <!-- <div class="item active">
            <a href="javascript:;" class="hidden-xs"  style="background-image: url(images/slide_01_2000x410.jpg);"></a>
            <a href="javascript:;" class="hidden-sm hidden-md hidden-lg"><img src="images/slide_01_640x340.jpg"></a>
          </div>
          <div class="item">
            <a href="javascript:;" class="hidden-xs"  style="background-image: url(images/slide_02_2000x410.jpg);"></a>
            <a href="javascript:;" class="hidden-sm hidden-md hidden-lg"><img src="images/slide_02_640x340.jpg"></a>
          </div>
          <div class="item">
            <a href="javascript:;" class="hidden-xs"  style="background-image: url(images/slide_03_2000x410.jpg);"></a>
            <a href="javascript:;" class="hidden-sm hidden-md hidden-lg"><img src="images/slide_03_640x340.jpg"></a>
          </div>
          <div class="item">
            <a href="javascript:;" class="hidden-xs" style="background-image: url(images/slide_04_2000x410.jpg);"></a>
            <a href="javascript:;" class="hidden-sm hidden-md hidden-lg"><img src="images/slide_04_640x340.jpg"></a>
          </div> -->
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </section>
    <!--信息-->
    <section class="wjs_info hidden-xs">
      <div class="container">
        <div class="col-md-4 col-sm-6">
          <a href="javascript:;">
            <div class="media">
              <div class="media-left">
                <span class="wjs_icon wjs_icon_dollar"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">支付交易保障</h4>
                <p>银联支付全称保证支付安全</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="javascript:;">
            <div class="media">
              <div class="media-left">
                <span class="wjs_icon wjs_icon_dollar"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">支付交易保障</h4>
                <p>银联支付全称保证支付安全</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="javascript:;">
            <div class="media">
              <div class="media-left">
                <span class="wjs_icon wjs_icon_dollar"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">支付交易保障</h4>
                <p>银联支付全称保证支付安全</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="javascript:;">
            <div class="media">
              <div class="media-left">
                <span class="wjs_icon wjs_icon_dollar"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">支付交易保障</h4>
                <p>银联支付全称保证支付安全</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="javascript:;">
            <div class="media">
              <div class="media-left">
                <span class="wjs_icon wjs_icon_dollar"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">支付交易保障</h4>
                <p>银联支付全称保证支付安全</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="javascript:;">
            <div class="media">
              <div class="media-left">
                <span class="wjs_icon wjs_icon_dollar"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">支付交易保障</h4>
                <p>银联支付全称保证支付安全</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <!--预约-->
    <section class="wjs_book">
    	<div class="container">
    		<div class="pull-left">
    			<span class="wjs_icon wjs_icon_clock"></span>
    			<span>现在有 273 人在排队，累计预约交易成功 7571 次。 什么是预约投标？</span>
    			<a href="javascript:;">立即预约</a>
    		</div>
    		<div class="pull-right hidden-xs">
    			<a href="javascript:;"><span class="wjs_icon wjs_icon_camera"></span> 微金所企业宣传片</a>
    		</div>
    	</div>
    </section>
    <!--产品-->
    <section class="wjs_product">
    	<div class="container">

        <div class="nav_wrap">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#product01" data-toggle="tab">特别推荐</a></li>
            <li><a href="#product02"  data-toggle="tab">微平台</a></li>
            <li><a href="#product03"  data-toggle="tab">微平台</a></li>
            <li><a href="#product04"  data-toggle="tab">微平台</a></li>
            <li><a href="#product05"  data-toggle="tab">微平台</a></li>
            <li><a href="#product06"  data-toggle="tab">微平台</a></li>
            <li><a href="#product07"  data-toggle="tab">微平台</a></li>
          </ul>
        </div>

  		  <!-- Tab panes -->
  		  <div class="tab-content">
  		    <div class="tab-pane active" id="product01">
            <div class="container">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="javascript:;" class="active">
                  <div class="ticket_right">
                    <p><span>8</span><sub>%</sub></p>
                    <p>年利率</p>
                  </div>
                  <div class="ticket_left">
                    <h3 class="text-center">新手体验标1002期</h3>
                    <div class="col-xs-6">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="javascript:;">
                  <div class="ticket_right">
                    <div class="stamp">
                      <span class="wei" data-toggle="tooltip" data-placement="top" title="微金宝">微</span>
                      <span class="yu" data-toggle="tooltip" data-placement="bottom" title="河南省">豫</span>
                    </div>
                    <p><span>8</span><sub>%</sub></p>
                    <p>年利率</p>
                  </div>
                  <div class="ticket_left">
                    <h3 class="text-center">新手体验标1002期</h3>
                    <div class="col-xs-6">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="javascript:;">
                  <div class="ticket_right">
                    <p><span>8</span><sub>%</sub></p>
                    <p>年利率</p>
                  </div>
                  <div class="ticket_left">
                    <h3 class="text-center">新手体验标1002期</h3>
                    <div class="col-xs-6">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="javascript:;">
                  <div class="ticket_right">
                    <p><span>8</span><sub>%</sub></p>
                    <p>年利率</p>
                  </div>
                  <div class="ticket_left">
                    <h3 class="text-center">新手体验标1002期</h3>
                    <div class="col-xs-6">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p>起投金额(元)</p>
                      <p>0.01万</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
  		    <div class="tab-pane" id="product02">贰贰贰贰贰贰贰贰贰贰贰</div>
  		    <div class="tab-pane" id="product03">叁叁叁叁叁叁叁叁叁叁叁</div>
  		    <div class="tab-pane" id="product04">肆肆肆肆肆肆肆肆肆肆肆</div>
  		    <div class="tab-pane" id="product05">伍伍伍伍伍伍伍伍伍伍伍</div>
  		    <div class="tab-pane" id="product06">陆陆陆陆陆陆陆陆陆陆陆</div>
  		    <div class="tab-pane" id="product07">柒柒柒柒柒柒柒柒柒柒柒</div>
  		  </div>

		</div>
    </section>
    <!--新闻-->
    <section class="wjs_news" style="height: 500px;">
    	<div class="container">
    		<div class="col-md-2 col-md-offset-2">
    			<h3>全部新闻</h3>
    		</div>
    		<div class="col-md-1">
    			<ul class="nav nav-tabs">
				    <li class="active"><a href="#home" data-toggle="tab"><span class="wjs_icon wjs_icon_news01"></span></a></li>
				    <li><a href="#profile" data-toggle="tab"><span class="wjs_icon wjs_icon_news02"></span></a></li>
				    <li><a href="#messages" data-toggle="tab"><span class="wjs_icon wjs_icon_news03"></span></a></li>
				    <li><a href="#settings" data-toggle="tab"><span class="wjs_icon wjs_icon_news04"></span></a></li>
				  </ul>
    		</div>
    		<div class="col-md-7">
    			
    		</div>
    	</div>
    </section>
    <!--合作伙伴-->
    <footer class="wjs_partner"></footer>
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/artTemplate/template-native.js"></script>
    <script src="lib/iscroll.js"></script>
    <script id="template_points" type="text/x-art-template">
      <% for(var i=0;i<url.length;i++){ %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= i %>"<%= i==0?'class=active':'' %>></li>
      <% } %>
    </script>
    <script id="template_images" type="text/x-art-template">
      <% for(var i=0;i<url.length;i++){ %>
        <div class="item<%= i==0?' active':'' %>">
          <% if(isM){ %>
            <a class="pc_version" href="javascript:;" style="background-image: url(<%= url[i].pcUrl %>);"></a>
          <% } else { %>
            <a class="m_version" href="javascript:;"><img src="<%= url[i].mUrl %>"></a>
          <% } %>
        </div>
      <% } %>
    </script>
    <script src="js/index.js"></script>
  </body>
</html>